# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [42]:
x = 0
y = 0

print("рівні за значенням:", x==y)
print("рівні посилання:", x is y)

рівні за значенням: True
рівні посилання: True

*місце для текстової відповіді

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [43]:
#функція isinstance
x = 2

print(isinstance(x, int))
print(isinstance(x, bool))

True
False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [65]:
x =3
y = 2.2

print("x =", x)
print("y =", y)

print("x + y =", x + y)
print("x - y =", x - y)
print("x / y =", x / y)
print("x * y =", x * y)
print("x // y =", x // y)
print("x % y =", x % y)
print("x ** y =", x ** y)

x = 3
y = 2.2
x + y = 5.2
x - y = 0.7999999999999998
x / y = 1.3636363636363635
x * y = 6.6000000000000005
x // y = 1.0
x % y = 0.7999999999999998
x ** y = 11.211578456539659

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [64]:
print("y =", y, "тип:", type(y))

y_int = int(y)
print("int(y) =", y_int, "тип:", type(y_int))

z = True
print("z =", z, "тип:", type(z))\

z_int = int(z)
print("int(z) =", z_int, "тип:", type(z_int))

y = 2.2 тип: <class 'float'>
int(y) = 2 тип: <class 'int'>
z = True тип: <class 'bool'>
int(z) = 1 тип: <class 'int'>

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [63]:
a = ""
b = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [62]:
a ="п'ять"
b = r"п'ять"

print("a: ", a)
print("b: ", b)

a:  п'ять
b:  п'ять

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [61]:
a = "Dolbnia"

res = f"My surname is {a}"

print(res)

My surname is Dolbnia

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [60]:
a = "My dog is crazy."

res = a.lower().replace(".", "").split()

print('["' + '", "'.join(res) + '"]')

["my", "dog", "is", "crazy"]

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [79]:
list1 = ['a', 'b', 'c', 'd', 'e',]
list2 = list("abcde")

print("list1 =", list1)
print("list2 =", list2)
print("Length of list2 =", len(list2))

list1 = ['a', 'b', 'c', 'd', 'e']
list2 = ['a', 'b', 'c', 'd', 'e']
Length of list2 = 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [67]:
list1 = ['a', 'b', 'c', 'd', 'e',]
list2 = [1, 2, 3]

list1.append(list2)

print(list1)

['a', 'b', 'c', 'd', 'e', [1, 2, 3]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [68]:
list1 = [[1, 2, 3], [1, 2], ['a', 'b'], ['c', 'b', 'c'],]

res = list1[-1][0]

print(res)

c

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [69]:
list1 = [10, 3.14, "str", True, [1, 2], (5, 6), {"a": 1}, {1, 2}, -300, None,]

res = list1[2:-2]

print("oldl:", list1)
print("new:", res)

oldl: [10, 3.14, 'str', True, [1, 2], (5, 6), {'a': 1}, {1, 2}, -300, None]
new: ['str', True, [1, 2], (5, 6), {'a': 1}, {1, 2}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [70]:
k = (1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схоже:
зберігають упорядковані елементи,
доступ за індексом,
підтримують slicing,
можуть містити різні типи елементів,
можуть мати вкладені структури.

Відмінне:
список змінний і має багато способів редагування, кортеж статичний.

Випадки використання словника:
динамічна калекція, можливе накопичення або видалення елементів (список покупок).

Випадки використання кортежів:
фіксовані точки, список констант, повернення з функції фіксованого масиву результатів.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [71]:
t = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)

res = t[::-1][0::2]

print("old tuple:", t)
print("new tuple:", res)

old tuple: (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
new tuple: (11.3, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [72]:
s = set()

s.add(10)
s.add("str")
s.add(True)

print(s)

{True, 10, 'str'}

так

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [73]:
my_list = [1, 1, 2, 67, 67, 8, 9]

s = set(my_list)

print(s)

{1, 2, 67, 8, 9}

бо зникли дублікати, їх не може бути в множені

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [74]:
set1 = {1, 2, 3, 4, 5,}
set2 = {3, 4, 5, 6, 7,}

union_set = set1.union(set2)
diff_set = set1.difference(set2)
intersect_set = set1.intersection(set2)
sym_diff_set = set1.symmetric_difference(set2)

print("set1 =", set1)
print("set2 =", set2)

print("union_set =", union_set)
print("diff_set (set1 - set2) =", diff_set)
print("intersect_set =", intersect_set)
print("sym_diff_set =", sym_diff_set)

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
union_set = {1, 2, 3, 4, 5, 6, 7}
diff_set (set1 - set2) = {1, 2}
intersect_set = {3, 4, 5}
sym_diff_set = {1, 2, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [75]:
d = {}

d["str"] = "string"
d[10] = "ten"
d[2.2] = "2.2"
d[(1, 2)] = "tuple"

print(d)

{'str': 'string', 10: 'ten', 2.2: '2.2', (1, 2): 'tuple'}

ні, бо ключ хешується (раз і на завжди), а список це змінна структура

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [76]:
d = {
    "level1": {
        "level2": {
            "level2": {
                "level4": "ok"
            }
        }
    }
}

res = d["level1"]["level2"]["level2"]["level4"]

print(res)

ok

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.